# Node modules directories
/node_modules
/backend/node_modules

# Environment files
.env

# Logs
*.log

# Operating System files
.DS_Store
Thumbs.db

# Build output
/build
/dist

# IDE configuration files
.vscode/
.idea/
