/* Import Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Dark Mode Styles */
/* Global dark mode styles */

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
  }

  
.dark {
    background-color: #111118; /* Dark background for the whole app */
    color: #f7fafc; /* Light text color */
  }
  .dark html{
    background-color: #111118; /* Dark background for the whole app */

  }

  .dark .google-button{
    background-color: #111118; /* Dark background for the whole app */

  }
  .dark .text {
    color: #e2e8f0; /* Light text color */
  }

  .dark p {
    color: #e2e8f0; /* Light text color for paragraphs */
  }
  .dark h1 {
    color: #e2e8f0; /* Light text color for paragraphs */
  }
  .dark h2 {
    color: #e2e8f0; /* Light text color for paragraphs */
  }

  .dark li {
    color: #e2e8f0; /* Light text color for paragraphs */
  }
  .dark ul {
    color: #e2e8f0; /* Light text color for paragraphs */
  }
  .dark span {
    color: #e2e8f0; /* Light text color for paragraphs */
  }
  .dark .card {
    background-color: #1f1f1f; /* Primary card background color */
    border: 1px solid #333333; /* Card border color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    color: #e2e8f0; /* Text color for good readability */
  }
  

  .dark-navbar {
    background-color: #111118; /* Dark background for navbar */
  }


  /* Dark mode styling for Navbar menu */
.dark .navbar-menu {
  background: rgba(0, 0, 0, 0.8); /* Dark background with transparency */
}

