/* Import Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Dark Mode Styles */
/* Global dark mode styles */

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
  }
/* 
  
.dark {
    background-color: #111118;
    color: #f7fafc; 
  }
  .dark html{
    background-color: #111118; 

  }
  

  .dark .google-button{
    background-color: #111118; 

  }
  .dark .text {
    color: #e2e8f0; 
  }

  .dark p {
    color: #e2e8f0; 
  }
  .dark h1 {
    color: #e2e8f0; 
  }
  .dark h2 {
    color: #e2e8f0; 
  }

  .dark li {
    color: #e2e8f0; 
  }
  .dark ul {
    color: #e2e8f0; 
  }
  .dark span {
    color: #e2e8f0; 
  }
  .dark .card {
    background-color: #1f1f1f; 
    border: 1px solid #333333; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    color: #e2e8f0; 
  }
  

  .dark-navbar {
    background-color: #111118; 
  }


.dark .navbar-menu {
  background: rgba(0, 0, 0, 0.8); 
}

*/